body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  /* background-color: rgb(5,6,21); */
  background-color: rgb(2, 8, 29);
}
img {
  width: 100%;
}

.container {
  overflow: hidden;
  margin: 10px;
  padding: auto;
}

.varas {
  color: rgb(255, 255, 255);
  padding-top: 10px;
}

.raagaNumber {
  text-align: left;
  color: rgb(255, 255, 255);
}
.para_text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  word-spacing: 6px;
}

.audio {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -moz-box-shadow: 2px 2px 8px 8px rgb(0, 0, 0);
  -webkit-box-shadow: 8px 8px 8px 8px rgb(0, 0, 0);
  box-shadow: 5px 5px 5px 5px rgb(32, 28, 28);
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 15px 15px 15px 15px;
}

/* .language {
  text-align: center;
} */

/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(211, 68, 68);
  color: #ffcc00;
  text-align: center;
  padding: 5px;
}   */
